body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8  sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}
.bgimg-1 {
  background-image: url("assets/fica-gif1.gif");
  min-height: 100%;
  width:100%;
  margin:auto;
  background-size: cover;
}

.bgimg-2 {
  background-image: url("assets/ab.c.png");
  min-height: 100%;
  background-size: cover;
}

.bgimg-3 {
  background-image: url("assets/calvin.gif");
  min-height: 60%;
  width:100%;
  margin:auto;
  
  
}

.caption {
  position: absolute;
  left: 0;
  top:20%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 30px;
  font-size: 40px;
  letter-spacing: 10px;
}

.caption img {
    height:50%;
    
    
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px  sans-serif;
  color: #111;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 2s;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
	border-radius:10px;
}
.button2 {
    background-color: transparent; 
    color: black; 
    border: 2px solid #4CAF50;
	border-radius:10px;
}

.button1:hover {
    background-color:#4CAF50 ; /* Green */
    color: white;
	transition-duration:2s;
	
}

.button2:hover {
    background-color:#4CAF50 ;
    color: white;
	transition-duration:2s;
	
}

.testi{
position:relative;
min-height:100%;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 73px;
  background-color: #00a087;
}

#slider
{
  height: 200px;
}

#slider
{
  margin: auto;
  overflow: hidden;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
  position: relative;
  width: 100%;
  max-width: 700px;
}



#slider li
{
  float: left;
  position: relative;
  width: 700px;
  display: inline-block;
  height: 200px;
}

#slider ul
{
  list-style: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 9000px;
  transition: left .3s linear;
  -moz-transition: left .3s linear;
  -o-transition: left .3s linear;
  -webkit-transition: left .3s linear;
  margin-left: -25px;
  font-family: century gothic;
  color: #666;
}

/*** Content ***/

.slider-container
{
  margin:10 auto;
  padding: 0;
  width: 100%;
  min-height: 500px;
  /*border-bottom: 1px solid #ccc;*/
  /*background-color: red;*/
}

.slider-container h4
{
  color: #0A7FAD;
  text-shadow: -1px 0px 0px rgba(0, 0, 0, 0.50);
}

.slider-container  p
{
  margin: 10px 25px;
  font-weight: semi-bold;
  
  line-height: 150%;
  text-align: justify;
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
  0% {opacity:0;}
  2% {opacity:1;}
  20% {left:0px; opacity:1;}
  22.5% {opacity:0.6;}
  25% {left:-700px; opacity:1;}
  45% {left:-700px; opacity:1;}
  47.5% {opacity:0.6;}
  50% {left:-1400px; opacity:1;}
  70% {left:-1400px; opacity:1;}
  72.5% {opacity:0.6;}
  75% {left:-2100px; opacity:1;}
  95% {opacity:1;}
  98% {left:-2100px; opacity:0;} 
  100% {left:0px; opacity:0;}
}

#slider ul
{
  -webkit-animation: slide-animation 10s infinite;
}

/* use to paused the content on mouse over */

#slider ul:hover
{
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
